# npm ru# Server
# PORT=5000
# NODE_ENV=development

# # MongoDB
# MONGODB_URI=Your_Mongodb_URI

# # JWT
# JWT_SECRET=mysecret
# JWT_EXPIRES_IN=7d

# # Stripe
# STRIPE_SECRET_KEY=Stripe_Secret_Key
# STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret

# # Frontend URL (for CORS)
# FRONTEND_URL=http://localhost:3000
